@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.footer {
  background-color: variables.$color-block-background;

  @media (max-width: 1312px) {
    padding-block-end: 38px;
  }
}

.footer-main {
  // .footer-main__container
  &__container {
  }

  // .footer-main__inner
  &__inner {
    display: flex;
    align-items: start;
    gap: functions.responsive-value(140, 40, $end-breakpoint: 768, $behavior: "fixed-both");
    padding-block: functions.responsive-value(100, 40) functions.responsive-value(140, 40);

    @media (min-width: #{768 + 0.1px}) {
      justify-content: space-between;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .footer-main__logo
  &__logo {
    flex: 0 0 auto;
  }

  // .footer-main__content
  &__content {
    display: flex;
    align-items: start;
    gap: functions.responsive-value(140, 40, $end-breakpoint: 768, $behavior: "fixed-both");

    @media (min-width: #{768 + 0.1px}) {
      padding-block-start: 10px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .footer-main__nav
  &__nav {
    @media (max-width: 768px) {
      margin-block-end: 40px;
    }
  }
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;

  @media (min-width: #{768 + 0.1px}) {
    align-items: start;
    justify-content: start;
  }

  // .footer-logo__icon
  &__icon {
    flex: 0 0 auto;
    inline-size: functions.responsive-value(110, 84, $end-breakpoint: 768, $behavior: "fixed-both");
    aspect-ratio: 110 / 81;
  }
}

.footer-nav {
  font-family: variables.$font-inter;
  font-weight: 500;
  line-height: 1.3;
  color: variables.$color-4c4c4c;

  @media (min-width: #{768 + 0.1px}) {
    white-space: nowrap;
  }

  // .footer-nav__list
  &__list {
    @media (max-width: 768px) {
      inline-size: fit-content;
      margin-inline: auto;
      columns: 2;
      column-gap: functions.responsive-value(90, 40, 440, 280, "fixed-start-value", "px");
    }
  }

  // .footer-nav__item
  &__item {
    &:not(:last-child) {
      margin-block-end: 16px;
    }

    @media (max-width: 768px) {
      break-inside: avoid;
    }
  }

  // .footer-nav__link
  &__link {
    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-accent;
    }
  }
}

.address {
  @media (max-width: 768px) {
    text-align: center;
  }

  > *:last-child {
    margin-block-end: 0;
  }

  // .address__tel
  &__tel {
    margin-block-end: functions.responsive-value(17, 8, $end-breakpoint: 768, $behavior: "fixed-both");
  }

  // .address__mail
  &__mail {
    margin-block-end: 40px;

    @media (min-width: #{768 + 0.1px}) {
      margin-block-end: 24px;
    }
  }

  // .address__social
  &__social {
    margin-block-end: 24px;
  }
}

.tel {
  font-weight: 500;
  font-size: functions.responsive-value(24, 16, $end-breakpoint: 768, $behavior: "fixed-both");
  line-height: 1.33;
  white-space: nowrap;

  // .tel__link
  &__link {
    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-accent;
    }
  }
}

.mail {
  white-space: nowrap;

  @media (max-width: 768px) {
    font-family: variables.$font-inter;
    font-weight: 500;
    line-height: 1.3;
    color: variables.$color-4c4c4c;
  }

  // .mail__link
  &__link {
    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-accent;
    }
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  font-size: 0;

  // .socials__item
  &__item {
    flex: 0 0 auto;
  }

  // .socials__link
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 40px;
    aspect-ratio: 1 / 1;
    background-color: variables.$color-303030-10;
    border-radius: 50%;

    @include mixins.prefers-reduced-motion {
      transition-property: color, background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-white;
      background-color: variables.$color-accent;
    }
  }
}

.subscribe {
  max-inline-size: 254px;
  font-family: variables.$font-inter;
  font-size: functions.responsive-value(13, 12);
  line-height: 1.3;
  color: variables.$color-4c4c4c;

  @media (max-width: 768px) {
    text-align: center;
  }

  > *:last-child {
    margin-block-end: 0;
  }

  // .subscribe__text
  &__text {
    margin-block-end: 28px;
    font-weight: 500;
  }

  // .subscribe__button
  &__button {
    --outline-color: #{variables.$color-primary};

    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 45px;
    inline-size: fit-content;
    padding-block: 5px;
    padding-inline: 44px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: variables.$color-white;
    background-color: variables.$color-secondary;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-accent;
    }

    @media (max-width: 768px) {
      margin-inline: auto;
    }
  }
}

.footer-bottom {
  font-size: 12px;
  line-height: 1;

  // .footer-bottom__container
  &__container {
    max-inline-size: calc(variables.container() + 120px);
  }

  // .footer-bottom__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-block: 40px;

    @media (min-width: #{350 + 0.1px}) {
      justify-content: space-between;
    }

    @media (min-width: #{992 + 0.1px}) {
      min-block-size: 76px;
      padding-block: 10px;
      border-block-start: 1px solid variables.$color-303030-4;
    }

    @media (min-width: #{1312 + 0.1px}) {
      padding-inline: 60px;
    }

    @media (max-width: 992px) {
      flex-wrap: wrap;
      text-align: center;
    }

    @media (max-width: 350px) {
      flex-direction: column;
    }
  }

  // .footer-bottom__links
  &__links {
    @media (max-width: 992px) {
      margin-block-end: 24px;
    }
  }
}

.copyright {
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 992px) {
    justify-content: center;
    order: -1;
    inline-size: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  // .footer-links__item
  &__item {
  }

  // .footer-links__link
  &__link {
    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-accent;
    }
  }
}

.studio {
  display: flex;
  align-items: center;
  gap: 4px;

  // .studio__text
  &__text {
  }

  // .studio__logo
  &__logo {
    flex: 0 0 auto;
    inline-size: 28px;
    aspect-ratio: 28 / 24;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }
}
