@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.caption {
  font-family: variables.$font-bebas-neue-book;
  font-size: functions.responsive-value(40, 20);
  line-height: 1.08;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  // .caption__bold
  &__bold {
    font-family: variables.$font-secondary;
  }
}
