@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  inline-size: functions.responsive-value(88, 63);
  aspect-ratio: 1 / 1;
  font-size: 0;
  text-align: center;
  color: variables.$color-white;
  background-color: variables.$color-000000-30;
  border-radius: 50%;
  backdrop-filter: blur(functions.responsive-value(34, 24));

  @include mixins.prefers-reduced-motion {
    transition-property: background-color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    background-color: variables.$color-accent;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border: 1px solid variables.$color-ab9b6b-20;
    border-radius: 50%;
    transform: scale(calc(110 / 88));
    pointer-events: none;
  }

  svg {
    position: relative;
    width: calc(18 / 88 * 100%);
    height: calc(24 / 88 * 100%);
    transform: translateX(3px);
  }
}
