@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.title {
  font-family: variables.$font-bebas-neue-book;
  font-size: functions.responsive-value(96, 48);
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  // .title__bold
  &__bold {
    font-family: variables.$font-secondary;

    // .title__bold--pc
    &--pc {
      @media (max-width: 768px) {
        font-family: variables.$font-bebas-neue-book;
      }
    }
  }
}
