@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.up {
  --outline-color: #{variables.$color-primary};

  position: fixed;
  inset-block-end: 16px;
  inset-inline-end: calc(16px + var(--scrollbar-width, 0px));
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 38px;
  aspect-ratio: 1 / 1;
  color: variables.$color-white;
  background-color: variables.$color-primary;
  border-radius: 5px;
  transform: rotate(180deg);

  html:not(.scrolled) & {
    opacity: 0;
    visibility: hidden;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: background-color, opacity, visibility;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    background-color: variables.$color-accent;
  }
}
