$color-white: var(--color-white);
$color-black: var(--color-black);

$color-303030: var(--color-303030);
$color-232222: var(--color-232222);
$color-ae9a64: var(--color-ae9a64);
$color-141414: var(--color-141414);
$color-f4f3f1: var(--color-f4f3f1);

$color-4c4c4c: var(--color-4c4c4c);
$color-a3a3a3: var(--color-a3a3a3);
$color-ab9b6b: var(--color-ab9b6b);
$color-c5c5c5: var(--color-c5c5c5);
$color-aea789: var(--color-aea789);
$color-d8caa8: var(--color-d8caa8);
$color-171717: var(--color-171717);
$color-0a090b: var(--color-0a090b);
$color-e3ddd7: var(--color-e3ddd7);
$color-3ac9ed: var(--color-3ac9ed);
$color-7627b0: var(--color-7627b0);
$color-f6672d: var(--color-f6672d);
$color-e30316: var(--color-e30316);
$color-47b1fe: var(--color-47b1fe);
$color-f4ca99: var(--color-f4ca99);
$color-c8b399: var(--color-c8b399);
$color-90d0e0: var(--color-90d0e0);
$color-72d3eb: var(--color-72d3eb);
$color-602e86: var(--color-602e86);
$color-d9d9d9: var(--color-d9d9d9);

$color-303030-70: var(--color-303030-70);
$color-303030-10: var(--color-303030-10);
$color-303030-4: var(--color-303030-4);
$color-303030-0: var(--color-303030-0);

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-accent: var(--color-accent);
$color-transparent: var(--color-transparent);

$color-line: var(--color-line);
$color-block-background: var(--color-block-background);
