$font-bebas-neue: var(--font-bebas-neue);
$font-inter: var(--font-inter);
$font-onest: var(--font-onest);
$font-pf-din-text-comp-pro: var(--font-pf-din-text-comp-pro);

$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);
