@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.about {
  padding-block: functions.responsive-value(150, 75) 80px;
  background-image: linear-gradient(180deg, #f4f3f1 0%, rgba(244, 243, 241, 0) 50%);

  @media (min-width: #{768 + 0.1px}) {
    padding-block-end: 70px;
  }

  // .about__inner
  &__inner {
    margin-block-end: 40px;
  }

  // .about__container
  &__container {
  }

  // .about__title
  &__title {
    max-inline-size: 890px;
  }
}

.about-inner {
  // .about-inner__container
  &__container {
    max-inline-size: #{variables.$container + 100px};
  }

  // .about-inner__grid
  &__grid {
    @media (min-width: #{992 + 0.1px}) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      gap: functions.responsive-value(170, 40, $end-breakpoint: 992, $behavior: "fixed-both");
    }

    @media (max-width: 992px) {
      margin-inline: -16px;
    }
  }
}

.about-video {
  aspect-ratio: 674 / 837;
  overflow: visible;

  @media (max-width: 992px) {
    max-inline-size: 440px;
    aspect-ratio: 440 / 408;
    margin-inline: auto;
  }

  img {
    object-fit: contain;
  }

  // .about-video__button
  &__button {
    position: absolute;
    inset-block-start: calc(279 / 837 * 100%);
    inset-inline-end: calc(109 / 674 * 100%);
    z-index: 1;

    @media (max-width: 992px) {
      inset-block-start: 50%;
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.about-slider {
  font-family: variables.$font-bebas-neue-book;
  font-size: functions.responsive-value(40, 20, $end-breakpoint: 992, $behavior: "fixed-both");
  line-height: 1.08;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: variables.$color-303030-30;

  @media (min-width: #{1312 + 0.1px}) {
    padding-block: 60px;
  }

  @media (max-width: 992px) {
    max-inline-size: calc(240 / 400 * 100vw);
    margin-block-start: -35px;
    padding-inline: 16px;
    overflow: visible;
  }

  // .about-slider__wrapper
  &__wrapper {
    @media (min-width: #{992 + 0.1px}) {
      transform: none !important;
    }

    @media (max-width: 992px) {
      align-items: end;
    }
  }

  // .about-slider__slide
  &__slide {
    @media (min-width: #{992 + 0.1px}) {
      block-size: 100% !important;

      &:last-child {
        margin: 0 !important;
      }
    }
  }
}

.about-fact {
  .swiper-slide-active & {
    font-size: functions.responsive-value(66, 48, $end-breakpoint: 992, $behavior: "fixed-both");
    line-height: 1;
    letter-spacing: 0.01em;
    color: variables.$color-primary;

    @media (min-width: #{1312 + 0.1px}) {
      padding-block: 40px;

      &:first-child {
        padding-block-start: 0;
      }

      &:last-child {
        padding-block-end: 0;
      }
    }
  }

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  // .about-fact__bold
  &__bold {
    .swiper-slide-active & {
      font-family: variables.$font-secondary;
      font-weight: 700;
    }
  }

  // .about-fact__br
  &__br {
    // .about-fact__br--default
    &--default {
      .swiper-slide-active & {
        @media (min-width: #{1312 + 0.1px}) {
          display: none;
        }
      }
    }

    // .about-fact__br--active
    &--active {
      .about-slider__slide:not(.swiper-slide-active) & {
        @media (min-width: #{1312 + 0.1px}) {
          display: none;
        }
      }
    }

    @media (max-width: 1312px) {
      display: none;
    }
  }
}
