@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.advantages {
  padding-block: functions.responsive-value(260, 40) functions.responsive-value(165, 80);
  font-family: variables.$font-secondary;
  font-size: functions.responsive-value(172, 64);
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  &:not(.section--animate) {
    opacity: 0;
    transform: translateY(160px);
    pointer-events: none;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  // .advantages__container
  &__container {
  }

  // .advantages__inner
  &__inner {
    position: relative;
    isolation: isolate;
  }

  // .advantages__text
  &__text {
  }

  // .advantages__button
  &__button {
    --outline-color: #{variables.$color-primary};

    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: fit-content;
    min-block-size: 48px;
    padding-block: 5px;
    padding-inline: 42px;
    margin-block-start: 80px;
    font-size: 14px;
    text-align: center;
    color: variables.$color-white;
    background-color: variables.$color-primary;
    border-radius: 68px;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-accent;
    }

    @media (min-width: #{768 + 0.1px}) {
      margin-block-start: 40px;
    }
  }
}

.advantages-decor {
  position: absolute;
  inset-block-start: functions.responsive-value(-183, 65, $behavior: "fixed-both");
  inset-inline-end: functions.responsive-value(-29, -38.14);
  inline-size: functions.responsive-value(662, 293.14);
  aspect-ratio: 662 / 639;
  pointer-events: none;

  // .advantages-decor--back
  &--back {
    z-index: -1;
    mix-blend-mode: plus-darker;
    opacity: 0.5;
  }

  // .advantages-decor--front
  &--front {
    z-index: 1;
  }

  // .advantages-decor__image
  &__image {
    .advantages-decor--back & {
      position: absolute;
      inset: 0;
    }

    .advantages-decor--front & {
      position: absolute;
      inset-block: calc(-30.53 / 639 * 100%) calc(-69.47 / 639 * 100%);
      inset-inline: calc(172.09 / 662 * 100%) calc(164.91 / 662 * 100%);
      transform: rotate(-15deg);
    }

    img {
      object-fit: contain;
    }
  }
}
