@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.compare {
  padding-block: functions.responsive-value(155, 40) functions.responsive-value(120, 40);

  // .compare__container
  &__container {
  }

  // .compare__title
  &__title {
    margin-block-end: functions.responsive-value(50, 40);
  }
}

.compare-tabs {
  font-family: variables.$font-secondary;
  font-size: functions.responsive-value(40, 20);
  line-height: 1.08;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;

  > *:last-child {
    margin-block-end: 0;
  }

  // .compare-tabs__panels
  &__panels {
    margin-block-end: functions.responsive-value(50, 32);

    @media (max-width: 768px) {
      margin-inline: -16px;
    }
  }

  // .compare-tabs__panel
  &__panel {
  }

  // .compare-tabs__controllers
  &__controllers {
  }

  // .compare-tabs__label
  &__label {
    margin-block-end: functions.responsive-value(45, 16);
  }

  // .compare-tabs__buttons
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: 0;

    @media (min-width: #{768 + 0.1px}) {
      gap: 20px;
    }
  }

  // .compare-tabs__button
  &__button {
    position: relative;
    isolation: isolate;
    flex: 0 0 auto;
    inline-size: functions.responsive-value(50, 32);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: visible;

    &.active {
      &::after {
        border-color: variables.$color-a3a3a3;
      }
    }

    @include mixins.hover {
      &::after {
        border-color: variables.$color-accent;
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      border: 1px solid variables.$color-transparent;
      border-radius: 50%;
      transform: scale(calc(58 / 50));
      pointer-events: none;

      @include mixins.prefers-reduced-motion {
        transition-property: border-color;
        transition-duration: 0.3s;
      }
    }
  }
}

.compare-images {
  --range-thumb-size: #{functions.responsive-value(48, 24)};

  position: relative;
  isolation: isolate;
  container-type: inline-size;
  aspect-ratio: 440 / 260;
  background-color: variables.$color-block-background;
  overflow: hidden;

  &:has(.compare-images__range:focus-visible) {
    outline: 2px solid;
    outline-offset: 2px;
  }

  @media (min-width: #{768 + 0.1px}) {
    aspect-ratio: 1282 / 520;
    border-radius: 2px;
  }

  @media (hover: hover) {
    &:has(.compare-images__range:hover) {
      &::after {
        background-color: variables.$color-accent;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset-block: 0;
    inline-size: functions.responsive-value(2, 1);
    inset-inline-start: calc(
      var(--compare-position, 50) * 1% - (var(--compare-position, 50) - 50) * var(--range-thumb-size) / 100
    );
    background-color: variables.$color-white;
    transform: translateX(-50%);

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }
  }

  // .compare-images__inner
  &__inner {
    position: absolute;
    isolation: isolate;
    inset: 0;
    z-index: -1;
  }

  // .compare-images__image
  &__image {
    position: absolute;
    inset: 0;

    // .compare-images__image--before
    &--before {
      clip-path: inset(
        0
          calc(
            100% -
              (var(--compare-position, 50) * 1% - (var(--compare-position, 50) - 50) * var(--range-thumb-size) / 100)
          )
          0 0
      );
    }

    // .compare-images__image--after
    &--after {
      clip-path: inset(
        0 0 0
          calc(var(--compare-position, 50) * 1% - (var(--compare-position, 50) - 50) * var(--range-thumb-size) / 100)
      );
    }
  }

  // .compare-images__range
  &__range {
    --range-fill-value: 50;
    --range-background-color: #{variables.$color-transparent};
    --range-fill-color: #{variables.$color-transparent};
    --range-thumb-background-color: #{variables.$color-white};

    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
}
