@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.faq {
  padding-block: functions.responsive-value(150, 85) functions.responsive-value(200, 80);

  // .faq__container
  &__container {
  }

  // .faq__label
  &__label {
    margin-block-end: 35px;

    @media (min-width: #{768 + 0.1px}) {
      margin-block-end: 28px;
    }
  }

  // .faq__title
  &__title {
    margin-block-end: functions.responsive-value(100, 64);
    font-family: variables.$font-secondary;
    font-weight: 700;
    font-size: functions.responsive-value(50, 48);
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: 768px) {
      letter-spacing: 0.01em;
    }
  }
}

.faq-label {
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  pointer-events: none;

  @media (min-width: #{768 + 0.1px}) {
    position: relative;
    font-weight: 700;
  }

  @media (max-width: 768px) {
    font-family: variables.$font-secondary;
    font-size: 20px;
    line-height: 1.08;
    letter-spacing: 0.02em;
  }

  // .faq-label__image
  &__image {
    inline-size: 100%;
    max-inline-size: 555px;
    aspect-ratio: 408 / 283.11;
    margin-inline: auto;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }

  // .faq-label__brand
  &__brand {
    @media (min-width: #{768 + 0.1px}) {
      position: absolute;
      inset-block-end: 43px;
      inset-inline: 0;
      z-index: 1;
    }
  }
}

.faq-spoilers {
  // .faq-spoilers__item
  &__item {
    border-block-start: 1px solid variables.$color-e3ddd7;
  }

  // .faq-spoilers__title
  &__title {
  }

  // .faq-spoilers__button
  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    inline-size: 100%;
    padding-block: functions.responsive-value(32, 16);
    font-weight: 500;
    font-size: functions.responsive-value(24, 16);
    line-height: 1.5;
    text-align: start;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-accent;
    }

    @media (min-width: #{768 + 0.1px}) {
      line-height: 1.2;
      color: variables.$color-171717;
    }
  }

  // .faq-spoilers__label
  &__label {
  }

  // .faq-spoilers__icon
  &__icon {
    position: relative;
    flex: 0 0 auto;
    font-size: 0;
    inline-size: 24px;
    aspect-ratio: 1 / 1;
    pointer-events: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      inline-size: 16px;
      block-size: 2px;
      background-color: variables.$color-0a090b;
      border-radius: 4px;

      @include mixins.prefers-reduced-motion {
        transition-property: background-color;
        transition-duration: 0.3s;
      }

      @media (hover: hover) {
        .faq-spoilers__button:hover & {
          background-color: currentColor;
        }
      }
    }

    &::before {
      transform: translate(-50%, -50%);

      @include mixins.prefers-reduced-motion {
        transition-property: background-color;
        transition-duration: 0.3s;
      }
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);

      .spoiler-active & {
        inline-size: 0;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: inline-size, background-color;
        transition-duration: 0.3s;
      }
    }
  }

  // .faq-spoilers__region
  &__region {
  }

  // .faq-spoilers__inner
  &__inner {
    padding-block-end: functions.responsive-value(32, 16);
    padding-inline: functions.responsive-value(32, 16);
  }

  // .faq-spoilers__text
  &__text {
  }
}
