@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

@function cqi($value) {
  @return min($value / 1728 * 100cqi, $value * 1px);
}

.hero {
  position: relative;
  isolation: isolate;
  container-type: inline-size;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: variables.$color-block-background;
  }

  // .hero__slider
  &__slider {
  }
}

.hero-slider {
  // .hero-slider__wrapper
  &__wrapper {
  }

  // .hero-slider__slide
  &__slide {
  }
}

.hero-slide {
  position: relative;
  isolation: isolate;

  // .hero-slide__container
  &__container {
  }

  // .hero-slide__inner
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: functions.responsive-value(70, 40);
    min-block-size: 100dvb;
    padding-block: calc(#{variables.$header-height} + 60px) 34px;

    @media (min-width: #{768 + 0.1px}) {
      gap: cqi(70);
      padding-block: calc(#{variables.$header-height} + cqi(58)) cqi(34);
    }
  }

  // .hero-slide__header
  &__header {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    gap: functions.responsive-value(48, 32);
    inline-size: fit-content;

    @media (min-width: #{768 + 0.1px}) {
      gap: cqi(48);
    }

    @media (max-width: 768px) {
      margin-block-start: auto;
    }
  }

  // .hero-slide__line
  &__line {
    position: absolute;
    inset-block-end: cqi(-12);
    inset-inline-start: cqi(594);
    z-index: -1;
    inline-size: cqi(449);
    block-size: 1px;
    font-size: 0;
    background-color: variables.$color-line;
    pointer-events: none;

    @media (max-width: 768px) {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 0;
      transform: translate(-50%, -50%);
      inline-size: 5px;
      aspect-ratio: 1 / 1;
      background-color: variables.$color-line;
      border-radius: 50%;
    }
  }

  // .hero-slide__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 48px;
    padding-block: 5px;
    padding-inline: 42px;
    font-size: 14px;
    text-align: center;
    color: variables.$color-white;
    background-color: variables.$color-primary;
    border-radius: 68px;

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-accent;
    }
  }
}

.hero-title {
  font-family: variables.$font-bebas-neue-book;
  font-size: functions.responsive-value(96, 48);
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  @media (min-width: #{768 + 0.1px}) {
    font-size: cqi(96);
  }

  // .hero-title__bold
  &__bold {
    font-family: variables.$font-secondary;
  }
}

.hero-caption {
  font-family: variables.$font-bebas-neue-book;
  font-size: functions.responsive-value(40, 20);
  line-height: 1.08;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media (min-width: #{768 + 0.1px}) {
    font-size: cqi(40);
  }

  // .hero-caption__bold
  &__bold {
    font-family: variables.$font-secondary;
  }
}

.hero-decor {
  position: relative;
  aspect-ratio: 296 / 285.27;
  font-size: 0;
  pointer-events: none;

  @media (min-width: #{768 + 0.1px}) {
    position: absolute;
    inset-block: calc(var(--wrapper-top) / 923 * 100%) calc(var(--wrapper-bottom) / 923 * 100%);
    inset-inline-start: calc(50% + var(--wrapper-left) / 1728 * 100%);
    z-index: -1;
    aspect-ratio: var(--wrapper-width) / var(--wrapper-height);

    @media (max-width: 992px) {
      transform: translateX(cqi(var(--wrapper-width) / -10));
    }
  }

  @media (max-width: 768px) {
    isolation: isolate;
    inline-size: calc(296 / 440 * 100vw);
    max-inline-size: 350px;
    margin-inline: auto;
  }

  // .hero-decor__image
  &__image {
    position: absolute;

    // .hero-decor__image--background
    &--background {
      inset: 0;
    }

    // .hero-decor__image--main
    &--main {
      inset-block: calc(var(--top) / var(--wrapper-height) * 100%) calc(var(--bottom) / var(--wrapper-height) * 100%);
      inset-inline: calc(var(--left) / var(--wrapper-width) * 100%) calc(var(--right) / var(--wrapper-width) * 100%);
      inline-size: calc(var(--width) / var(--wrapper-width) * 100%);
      aspect-ratio: var(--width) / var(--height);
      transform: rotate(calc(var(--rotate) * 1deg));
    }
  }
}
