@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.products {
  padding-block: functions.responsive-value(120, 40) functions.responsive-value(105, 30);

  &:not(.section--animate) {
    pointer-events: none;
  }

  // .products__container
  &__container {
  }

  // .products__title
  &__title {
    margin-block-end: functions.responsive-value(80, 40);

    .section:not(.section--animate) & {
      opacity: 0;
      transform: translateY(80px);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: opacity, transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
    }
  }
}

.gender {
  .section:not(.section--animate) & {
    opacity: 0;
    transform: translateY(160px);
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  // .gender__buttons
  &__buttons {
    display: flex;
    align-items: center;
    gap: functions.responsive-value(40, 16);
    margin-block-end: functions.responsive-value(50, 24);
    font-weight: 700;
    text-transform: uppercase;
    color: variables.$color-232222-20;
  }

  // .gender__tab
  &__tab {
    &.active {
      color: variables.$color-secondary;
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-accent;
    }
  }

  // .gender__panels
  &__panels {
  }

  // .gender__panel
  &__panel {
  }
}

.types {
  // .types__header
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: functions.responsive-value(40, 16);
    margin-block-end: functions.responsive-value(100, 48);

    .slider-controllers {
      @media (max-width: 500px) {
        display: none;
      }
    }
  }

  // .types__panels
  &__panels {
    @media (max-width: 500px) {
      position: relative;
    }
  }

  // .types__panel
  &__panel {
  }

  // .types__controllers
  &__controllers {
    position: absolute;
    inset-block-start: 0;
    inset-inline: 0;
    aspect-ratio: 408 / 413;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 20px;
    pointer-events: none;

    @media (min-width: #{500 + 0.1px}) {
      display: none;
    }

    .slider-controllers {
      &__arrow {
        position: absolute;
        inset-block-start: 50%;
        margin: 0;
        transform: translateY(-50%);
        pointer-events: all;

        &--prev {
          inset-inline-start: 8px;
        }

        &--next {
          inset-inline-end: 8px;
        }
      }
    }
  }
}

.types-buttons {
  @media (max-width: 992px) {
    position: relative;
    z-index: 3;
  }

  // .types-buttons__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 2px;

    @media (min-width: #{992 + 0.1px}) {
      position: relative;
      isolation: isolate;
      border: 1px solid variables.$color-black;
      border-radius: 70px;

      &::after {
        content: "";
        position: absolute;
        inset-block: 2px;
        inset-inline-start: var(--active-types-tab-left);
        z-index: -1;
        inline-size: var(--active-types-tab-width);
        font-size: 0;
        background-color: variables.$color-secondary;
        border-radius: 68px;
        pointer-events: none;

        @include mixins.prefers-reduced-motion {
          transition-property: inset-inline-start, inline-size;
          transition-duration: 0.3s;
        }
      }
    }

    @media (max-width: 992px) {
      position: absolute;
      inset-block-start: 100%;
      inset-inline: 0;
      flex-direction: column;
      background-color: variables.$color-white;
      box-shadow: 0 0 5px variables.$color-232222-20;
      border-end-end-radius: 5px;
      border-end-start-radius: 5px;

      &:not(&--show) {
        opacity: 0;
        visibility: hidden;
      }

      @include mixins.prefers-reduced-motion {
        transition-property: opacity, visibility;
        transition-duration: 0.3s;
      }
    }
  }

  // .types-buttons__tab
  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: functions.responsive-value(48, 40);
    padding-block: 5px;
    padding-inline: 16px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: variables.$color-secondary;
    border-radius: 3px;

    &:not(.active) {
      @include mixins.hover {
        color: variables.$color-232222-20;
      }
    }

    &.active {
      --outline-color: #{variables.$color-primary};

      color: variables.$color-white;
      // background-color: variables.$color-secondary;

      @media (max-width: 992px) {
        display: none;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @media (min-width: #{992 + 0.1px}) {
      padding-inline: functions.responsive-value(42, 16);
      border-radius: 68px;
    }

    @media (max-width: 992px) {
      inline-size: 100%;
    }
  }
}

.types-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-block-size: functions.responsive-value(48, 40);
  padding-block: 5px;
  padding-inline: functions.responsive-value(42, 16);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: variables.$color-secondary;
  border: 1px solid variables.$color-black;
  border-radius: 68px;

  .types-buttons:has(.types-buttons__inner--show) & {
    --outline-color: #{variables.$color-secondary};

    color: variables.$color-white;
    background-color: variables.$color-secondary;
    border-color: variables.$color-secondary;
    border-start-start-radius: 16px;
    border-start-end-radius: 16px;
    border-end-end-radius: 0;
    border-end-start-radius: 0;

    @include mixins.hover {
      color: variables.$color-white;
      background-color: variables.$color-accent;
      border-color: variables.$color-accent;
    }
  }

  @include mixins.prefers-reduced-motion {
    transition-property: color, background-color, border-color, border-radius;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-white;
    background-color: variables.$color-accent;
    border-color: variables.$color-accent;
  }

  @media (min-width: #{992 + 0.1px}) {
    display: none;
  }

  // .types-select__text
  &__text {
  }

  // .types-select__icon
  &__icon {
    flex: 0 0 auto;
    font-size: 0;
    color: variables.$color-0a090b;

    .types-buttons:has(.types-buttons__inner--show) & {
      color: currentColor;
      transform: rotate(180deg);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: transform;
      transition-duration: 0.3s;
    }

    @media (hover: hover) {
      .types-select:hover & {
        color: currentColor;
      }
    }
  }
}

.products-slider {
  // .products-slider__wrapper
  &__wrapper {
  }

  // .products-slider__slide
  &__slide {
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: functions.responsive-value(50, 22);
  block-size: 100%;
  font-size: functions.responsive-value(14, 12);
  line-height: 1;
  text-align: center;

  @media (min-width: #{768 + 0.1px}) {
    font-weight: 500;
    line-height: 1.2;
  }

  // .product-card__top
  &__top {
    position: relative;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    aspect-ratio: 408 / 413;
    font-size: 0;
    background-color: variables.$color-block-background;
    border-radius: functions.responsive-value(16, 8);
    overflow: hidden;

    @media (min-width: #{768 + 0.1px}) {
      aspect-ratio: 413 / 480;
    }

    &::after {
      content: "";
      position: absolute;
      inset-block-end: calc(37 / 480 * 100%);
      inset-inline: 0;
      z-index: -1;
      aspect-ratio: 413 / 137;
      background-image: linear-gradient(360deg, rgba(226, 221, 211, 0) 0%, #ebebeb 100%);
      border-radius: 100%;
      filter: blur(50px);
      transform: translateY(0);
      pointer-events: none;
    }
  }

  // .product-card__image
  &__image {
    flex: 0 0 auto;
    inline-size: calc(244 / 413 * 100%);
    aspect-ratio: 244 / 342;

    &::after {
      content: "";
      position: absolute;
      inset-block-end: calc(12 / 413 * 100%);
      inset-inline-start: 50%;
      z-index: -3;
      inline-size: calc(220 / 244 * 100%);
      aspect-ratio: 220 / 30;
      font-size: 0;
      background-image: radial-gradient(45% 45% at center, rgba(132, 66, 18, 0.4) 0%, rgba(231, 227, 213, 0) 100%);
      border-radius: 100%;
      transform: translateX(-50%);
      pointer-events: none;
    }

    img {
      object-fit: contain;
    }
  }

  // .product-card__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 1 auto;

    @media (min-width: #{768 + 0.1px}) {
      gap: 11px;
    }
  }

  // .product-card__title
  &__title {
    font-family: variables.$font-secondary;
    font-weight: 700;
    font-size: functions.responsive-value(32, 24);
    text-transform: uppercase;

    @media (max-width: 768px) {
      line-height: 1.2;
    }

    a {
      @include mixins.prefers-reduced-motion {
        transition-property: color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-accent;
      }
    }
  }

  // .product-card__text
  &__text {
    max-inline-size: 242px;
  }
}
