@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.reviews {
  padding-block: functions.responsive-value(105, 40) functions.responsive-value(80, 40);

  &:not(.section--animate) {
    pointer-events: none;
  }

  // .reviews__container
  &__container {
  }

  // .reviews__title
  &__title {
    margin-block-end: functions.responsive-value(50, 40);

    .section:not(.section--animate) & {
      opacity: 0;
      transform: translateY(80px);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: opacity, transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
    }
  }

  // .reviews__row
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: functions.responsive-value(40, 16);
    margin-block-end: functions.responsive-value(100, 55);

    .section:not(.section--animate) & {
      opacity: 0;
      transform: translateY(120px);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: opacity, transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
    }

    .slider-controllers {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  // .reviews__text
  &__text {
    font-family: variables.$font-bebas-neue;
    font-size: functions.responsive-value(32, 20);
    line-height: 1.08;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @media (min-width: #{768 + 0.1px}) {
      max-inline-size: 520px;
    }

    br {
      @media (min-width: #{768 + 0.1px}) {
        display: none;
      }
    }
  }
}

.reviews-slider {
  .section:not(.section--animate) & {
    opacity: 0;
    transform: translateY(160px);
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  @media (max-width: 1312px) {
    overflow: visible;
  }

  // .reviews-slider__wrapper
  &__wrapper {
  }

  // .reviews-slider__slide
  &__slide {
  }
}

.review-card {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: functions.responsive-value(40, 16);
  block-size: 100%;
  aspect-ratio: 230.4 / 379.72;
  padding: functions.responsive-value(40, 35);
  font-size: 17px;
  line-height: 1;
  text-align: center;
  color: variables.$color-white;
  border-radius: functions.responsive-value(200, 144);
  overflow: hidden;

  @media (min-width: #{768 + 0.1px}) {
    aspect-ratio: 240 / 400;
    font-size: 14px;
  }

  &::before {
    content: "";
    block-size: 32px;
    flex: 0 0 auto;
    font-size: 0;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    font-size: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    opacity: 0.6;
    pointer-events: none;
  }

  // .review-card__video
  &__video {
    position: absolute;
    inset: 0;
    z-index: -2;
    font-size: 0;
  }

  // .review-card__badge
  &__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    min-block-size: 32px;
    padding-block: 5px;
    padding-inline: functions.responsive-value(16, 12);
    background-color: variables.$color-000000-30;
    border-radius: functions.responsive-value(68, 49);
    backdrop-filter: blur(functions.responsive-value(34, 24));
  }
}
