@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.trust {
  padding-block: functions.responsive-value(140, 40) functions.responsive-value(100, 40);

  &:not(.section--animate) {
    pointer-events: none;
  }

  // .trust__container
  &__container {
    container-type: inline-size;
  }

  // .trust__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: functions.responsive-value(40, 16);
    margin-block-end: functions.responsive-value(100, 40);

    .section:not(.section--animate) & {
      opacity: 0;
      transform: translateY(80px);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: opacity, transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
    }

    .slider-controllers {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

.trust-slider {
  .section:not(.section--animate) & {
    opacity: 0;
    transform: translateY(160px);
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  @media (max-width: 1312px) {
    overflow: visible;
  }

  // .trust-slider__wrapper
  &__wrapper {
  }

  // .trust-slider__slide
  &__slide {
    inline-size: fit-content;
    min-block-size: functions.responsive-value(400, 200);
  }
}

.trust-video {
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: end;
  inline-size: 100cqi;
  block-size: 100%;
  padding: functions.responsive-value(40, 16);
  font-size: functions.responsive-value(18, 12);
  color: variables.$color-white;
  border-radius: functions.responsive-value(2, 1);

  @media (min-width: #{350 + 0.1px}) {
    inline-size: calc(328 / 408 * 100cqi);
  }

  @media (min-width: #{768 + 0.1px}) {
    inline-size: calc(480 / 960 * 100cqi);
    font-weight: 500;
    line-height: 1.2;
  }

  @media (min-width: #{992 + 0.1px}) {
    inline-size: calc(630 / 1280 * 100cqi);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;
    font-size: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    opacity: 0.6;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    z-index: -1;
    block-size: 120px;
    font-size: 0;
    mask-image: linear-gradient(to top, #181818 55%, rgba(24, 24, 24, 0) 100%);
    backdrop-filter: blur(40px);
    transform: translateZ(0);
    pointer-events: none;
  }

  img {
    z-index: -3;
    font-size: 0;
  }

  // .trust-video__button
  &__button {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }

  // .trust-video__text
  &__text {
    max-inline-size: functions.responsive-value(330, 220);
  }
}

.trust-image {
  position: relative;
  isolation: isolate;
  inline-size: 50cqi;
  block-size: 100%;
  font-size: 0;
  border-radius: functions.responsive-value(2, 1);

  @media (min-width: #{350 + 0.1px}) {
    inline-size: calc(160 / 408 * 100cqi);
  }

  @media (min-width: #{768 + 0.1px}) {
    inline-size: calc(200 / 960 * 100cqi);
  }

  @media (min-width: #{992 + 0.1px}) {
    inline-size: calc(240 / 1280 * 100cqi);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    font-size: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    opacity: 0.6;
    pointer-events: none;
  }
}

.trust-text {
  display: flex;
  flex-direction: column;
  gap: functions.responsive-value(62, 16);
  inline-size: 100cqi;
  block-size: 100%;
  padding-block: functions.responsive-value(40, 16);
  padding-inline: functions.responsive-value(30, 16);
  font-size: functions.responsive-value(14, 12);
  color: variables.$color-secondary;
  background-color: variables.$color-block-background;
  border-radius: functions.responsive-value(2, 1);

  @media (min-width: #{768 + 0.1px}) {
    inline-size: calc(480 / 960 * 100cqi);
  }

  @media (min-width: #{992 + 0.1px}) {
    inline-size: calc(370 / 1280 * 100cqi);
  }

  // .trust-text__icon
  &__icon {
    flex: 0 0 auto;
    inline-size: functions.responsive-value(99, 50);
    aspect-ratio: 99 / 27;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }

  // .trust-text__quote
  &__quote {
    p {
      &:not(:last-child) {
        margin-block-end: 1em;
      }
    }
  }
}
