@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.type {
  padding-block: functions.responsive-value(150, 80);

  &:not(.section--animate) {
    pointer-events: none;
  }

  // .type__container
  &__container {
  }

  // .type__title
  &__title {
    margin-block-end: 40px;

    @media (min-width: #{768 + 0.1px}) {
      max-inline-size: 375px;
    }
  }
}

.type-title {
  font-family: variables.$font-secondary;
  font-size: functions.responsive-value(40, 32);
  line-height: 1.08;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  .section:not(.section--animate) & {
    opacity: 0;
    transform: translateY(80px);
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  @media (min-width: #{768 + 0.1px}) {
    font-family: variables.$font-bebas-neue-book;
  }

  // .type-title__bold
  &__bold {
    @media (min-width: #{768 + 0.1px}) {
      font-family: variables.$font-secondary;
    }
  }
}

.type-slider {
  .section:not(.section--animate) & {
    opacity: 0;
    transform: translateY(160px);
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  @media (max-width: 1312px) {
    overflow: visible;
  }

  // .type-slider__wrapper
  &__wrapper {
  }

  // .type-slider__slide
  &__slide {
  }
}

.type-card {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: end;
  block-size: 100%;
  aspect-ratio: 160 / 240;
  padding-block: functions.responsive-value(30, 20);
  padding-inline: functions.responsive-value(16, 8);
  font-family: variables.$font-bebas-neue-book;
  font-size: functions.responsive-value(32, 20);
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: variables.$color-white;
  border-radius: functions.responsive-value(2, 1);
  overflow: hidden;

  @media (min-width: #{768 + 0.1px}) {
    aspect-ratio: 240 / 400;
  }

  @media (hover: hover) {
    &:hover,
    &:has(.type-card__link:focus-visible) {
      &::after {
        block-size: 75%;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    z-index: -1;
    block-size: 50%;
    font-size: 0;
    mask-image: linear-gradient(to top, #181818 55%, rgba(24, 24, 24, 0) 100%);
    backdrop-filter: blur(functions.responsive-value(40, 20));
    transform: translateZ(0);
    pointer-events: none;

    @include mixins.prefers-reduced-motion {
      transition-property: block-size;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  }

  // .type-card__image
  &__image {
    position: absolute;
    inset: 0;
    z-index: -2;
    font-size: 0;

    @media (hover: hover) {
      .type-card:hover &,
      .type-card:has(.type-card__link:focus-visible) & {
        transform: scale(1.1);
      }

      @include mixins.prefers-reduced-motion {
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
    }
  }

  // .type-card__content
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    block-size: var(--same-height);

    @media (hover: hover) {
      .type-card:not(:hover, :has(.type-card__link:focus-visible)) & {
        transform: translateY(43px);
      }

      .type-card:hover &,
      .type-card:has(.type-card__link:focus-visible) & {
        block-size: auto;
      }

      .type-card:has(.type-card__link:focus-visible) & {
        @include mixins.prefers-reduced-motion {
          transition-duration: 0s;
        }
      }

      @include mixins.prefers-reduced-motion {
        transition-property: block-size, transform;
        transition-duration: 0.1s, 0.3s;
        transition-timing-function: linear, ease-in-out;
      }
    }
  }

  // .type-card__link
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: fit-content;
    min-block-size: 28px;
    padding-block: 5px;
    padding-inline: 16px;
    font-family: variables.$font-secondary;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: center;
    color: variables.$color-white;
    background-color: variables.$color-303030-70;
    border-radius: 68px;
    backdrop-filter: blur(34px);
    transform: translateZ(0);

    @include mixins.prefers-reduced-motion {
      transition-property: background-color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      background-color: variables.$color-accent;
    }

    @media (hover: hover) {
      .type-card:not(:hover, :has(&:focus-visible)) & {
        opacity: 0;
        transform: translateY(100%);
      }

      @include mixins.prefers-reduced-motion {
        transition-property: opacity, transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
    }
  }
}

.type-card-title {
  // .type-card-title__bold
  &__bold {
    font-family: variables.$font-secondary;
    font-weight: 700;
  }
}
