@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.useful {
  padding-block: functions.responsive-value(100, 40) functions.responsive-value(150, 40);
  color: variables.$color-secondary;

  &:not(.section--animate) {
    pointer-events: none;
  }

  // .useful__container
  &__container {
    container-type: inline-size;
  }

  // .useful__title
  &__title {
    margin-block-end: functions.responsive-value(200, 20, $behavior: "fixed-both");
  }
}

.useful-title {
  max-inline-size: 778px;
  font-family: variables.$font-bebas-neue-book;
  font-size: functions.responsive-value(112, 48);
  line-height: 1;
  text-transform: uppercase;

  .section:not(.section--animate) & {
    opacity: 0;
    transform: translateY(80px);
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  // .useful-title__bold
  &__bold {
    font-family: variables.$font-secondary;
  }
}

.useful-slider {
  .section:not(.section--animate) & {
    opacity: 0;
    transform: translateY(160px);
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  @media (min-width: #{420 + 0.1px}) {
    --gap-sum: 16px;
    --slides-count: 2;
    --slide-width: calc((100cqi - var(--gap-sum)) / var(--slides-count));
  }

  @media (min-width: #{768 + 0.1px}) {
    --gap-sum: 140px;
    --slides-count: 3;
  }

  // .useful-slider__wrapper
  &__wrapper {
    align-items: end;

    @media (min-width: #{420 + 0.1px}) {
      block-size: auto !important;
    }
  }

  // .useful-slider__slide
  &__slide {
    &:has(.useful-article) {
      @media (min-width: #{420 + 0.1px}) {
        inline-size: calc(var(--slide-width) - 35px);
      }

      @media (min-width: #{768 + 0.1px}) {
        inline-size: calc(var(--slide-width) - 10px);

        &:first-child {
          align-self: start;
        }
      }
    }

    &:has(.useful-video) {
      @media (min-width: #{420 + 0.1px}) {
        inline-size: calc(var(--slide-width) + 35px);
      }

      @media (min-width: #{768 + 0.1px}) {
        inline-size: calc(var(--slide-width) + 20px);
      }
    }

    @media (min-width: #{420 + 0.1px}) {
      inline-size: fit-content;
    }
  }

  .slider-controllers {
    inline-size: fit-content;
    margin-block-start: 40px;
    margin-inline: auto;

    @media (min-width: #{768 + 0.1px}) {
      display: none;
    }
  }
}

.useful-article {
  &:first-child {
    align-self: start;
  }

  &:last-child {
    align-self: end;
  }

  // .useful-article__title
  &__title {
    margin-block-end: functions.responsive-value(40, 24);
    font-family: variables.$font-secondary;
    font-weight: 700;
    font-size: functions.responsive-value(40, 24);
    line-height: 1.2;
    text-transform: uppercase;
  }

  // .useful-article__text
  &__text {
  }
}

.useful-video {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 230 / 380;
  font-size: 0;
  border-radius: 1000px;

  @media (min-width: #{768 + 0.1px}) {
    aspect-ratio: 400 / 650;
  }
}
